<div class="employee_index">
  <% if flash.notice.present? %>
    <p><%= flash.notice %></p>
  <% end %>

  <% if current_user.news_posting_auth %>
    <p class="new_employee"><%= link_to '新規追加', "/dashboard/new", class: 'btn' %></p>
  <% end %>

  <table class="employee_table">
    <thead>
        <tr>
        <th>タイトル</th>
        <th><%= link_to("公開日","/dashboard/sort/#{@sort}") %></th>
        </tr>
    </thead>
    <tbody>

        <% @articles.each do |article| %>
            <tr class="employee">
            <th><%= link_to(article.title,"/dashboard/#{article.id}") %></th>
            <th><%= article.created_at.in_time_zone('Tokyo').strftime("%Y年%-m月%-d日") %></th>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>
    




  
