<% if profile.errors.present? %>
  <ul>
    <% profile.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= render partial: 'employee_info', locals: { employee: @employee } %>
<div class="row mb-3 p-2 bg-light">
  <%= form_with model: [employee, profile], local: true do |f| %>
    <div class="">
      <%= f.label :profile, class: 'label' %>
    </div>
    <div class="">
      <div class="input-group w-100 mb-3">
        <%= f.text_area :profile, class: 'form-control' %>
      </div>
      <div class="input-group-append d-flex justify-content-end">
        <%= f.submit '保存', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

