<div class="container mt-3">
  <div class="d-flex justify-content-end mb-3">
    <p class="employee_index"><%= link_to '一覧に戻る', employees_path, class: 'btn btn-secondary' %></p>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card p-5">
        <div class="text-center">
          <%= image_tag "https://placehold.jp/150x150.png", class: "avatar-image rounded-circle overflow-hidden mb-3", style: "object-fit: cover; width: 150px; height: 150px;" %>
          <h3 class="card-title mb-3"><%= "#{@employee.last_name} #{@employee.first_name}" %></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card p-3 mb-3">
        <div class="card-body">
          <%= render partial: 'employee_info', locals: { employee: @employee } %>
          <div class="row mb-3 p-2 bg-light">
            <div class="col-md-4">
              <span class="label">プロフィール</span>
            </div>
            <div class="col-md-8">
              <% if current_user == @employee %>
                <p><%= link_to 'プロフィールを作成', new_employee_profile_path(@employee), class: 'btn btn-primary' %></p>
              <% else %>
                <span class="profile_value"><%= @profile.profile %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <h3 class="card-header">
           投稿したお知らせ
        </h3>
        <div class="card-body">
          <% if @employee.articles.present? %>
            <ul class="list-group">
              <% @employee.articles.each do |article| %>
                <li class="list-group-item d-flex justify-content-between">
                  <%= link_to article.title, article_path(article), class: "stretched-link" %>
                  <span><%= article.created_at.strftime("%Y/%m/%d") %></span>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>まだ登録した店舗がありません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
