<div class="employee_form mt-4">
  <% if employee.errors.present? %>
    <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: employee, local: true do |f| %>
    <div class="form_group">
      <%= f.label :number %>
      <%= f.text_field :number, class:"form-control w-25 mb-3" %>
    </div>

    <div class="form-row">
      <div class="form_group col-3">
        <%= f.label :last_name,"姓:" %>
        <%= f.text_field :last_name, class:"form-control mb-3 mr-3" %>
      </div>
      <div class="form_group col-3 col-offset-6">
        <%= f.label :first_name,"名:" %>
        <%= f.text_field :first_name, class:"form-control mb-3" %>
      </div>
    </div>

    <div class="form_group">
      <%= f.label :account %>
      <%= f.text_field :account, class:"form-control w-25 mb-3" %>
    </div>

    <div class="form_group">
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control w-25 mb-3" %>
    </div>

    <div class="form_group">
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-control w-50 mb-3" %>
    </div>

    <div class="form_group">
      <%= f.label :date_of_joining %>
      <%= f.date_field :date_of_joining, class:"form-control w-25 mb-3" %>
    </div>

    <div class="form_group">
      <%= f.label :department_id %>
      <%= f.collection_select(:department_id, @departments, :id, :name, { prompt: false }, class:"form-control w-25 mb-3") %>
    </div>

    <div class="form_group">
      <%= f.label :office_id %>
      <%= f.collection_select(:office_id, @offices, :id, :name, { prompt: false }, class:"form-control w-25 mb-3") %>
    </div>

    <div class="form_group">
      <%= f.label :employee_info_manage_auth, class: 'checkbox_label' %>
      <%= f.check_box :employee_info_manage_auth, :as => :boolean %>
    </div>

    <div class="form_group">
      <%= f.label :news_posting_auth, class: 'checkbox_label' %>
      <%= f.check_box :news_posting_auth, :as => :boolean %>
    </div>

    <div class="form_group text-center">
      <%= f.submit '保存', class:"form-control btn btn-info btn-lg w-25 mb-4" %>
    </div>
  <% end %>
</div>