<div class="article_form mt-4">
  <% if article.errors.present? %>
    <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: article, local: true do |f| %>
    <div class="form_group">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control mb-3" %>
    </div>

    <div class="form_group">
      <%= f.label :content %>
      <%= f.text_area :content, class:"form-control mb-3", rows: 5 %>
    </div>
    <div class="form_group text-center">
      <%= f.submit '保存',class:"form-control btn btn-info btn-lg w-25 mb-4" %>
    </div>
  <% end %>
</div>
