<div class="article_space container mt-5 p-5">
  <% if flash.notice.present? %>
    <div class="alert alert-success" role="alert">
      <%= flash.notice %>
    </div>
  <% end %>
  <p class="article_index d-flex justify-content-end">
    <%= link_to '一覧に戻る', articles_path, class: 'btn btn-primary me-3' %>
  </p>
  <div class="row mb-3">
    <div class="col-md-2">
      <div class="card p-3  d-flex justify-content-center text-center">
        <h3>投稿者</h3>
        <div class="avatar-image">
          <%= image_tag "https://placehold.jp/94x94.png", class: "avatar-image rounded-circle overflow-hidden mb-3", style: "object-fit: cover; width: 94px; height: 94px;" %>
        </div>
        <h4 class="card-title mb-3">
          <%= link_to employee_profile_path(@article.employee) do %>
            <%= "#{@article.employee.last_name} #{@article.employee.first_name}" %>
          <% end %>
        </h4>
      </div>
    </div>
    <div class="col-md-10">
      <div class="card p-3 mb-3">
        <h2 class="article_value card-title"><%= @article.title %></h2>
        <span class="article_content"><%= @article.content %></span>
      </div>
    </div>
  </div>
  <div class="col-sm-12 d-flex justify-content-end">
    <% if current_user.news_posting_auth && @article.employee == current_user %>
      <%= link_to '編集', edit_article_path(@article), class: 'btn btn-secondary me-3' %>
      <%= link_to '削除', @article, method: :delete, data: { confirm: "「#{@article.title}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
