<div class="article_space container mt-5 p-5">
  <% if flash.notice.present? %>
    <div class="alert alert-success" role="alert">
      <%= flash.notice %>
    </div>
  <% end %>
  <p class="article_index d-flex justify-content-end">
    <%= link_to '一覧に戻る', articles_path, class: 'btn btn-primary me-3' %>
  </p>
  <div class="row mb-3">
    <div class="col-md-2  d-flex justify-content-end">
      <h2 class="label">タイトル</h2>
    </div>
    <div class="col-md-10">
      <h2 class="article_value"><%= @article.title %></h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2 d-flex justify-content-end">
    </div>
    <div class="col-md-10">
      <span class="article_content"><%= @article.content %></span>
    </div>
  </div>
  <div class="col-sm-12 d-flex justify-content-end">
    <% if current_user.news_posting_auth && @article.employee == current_user %>
      <%= link_to '編集', edit_article_path(@article), class: 'btn btn-secondary me-3' %>
      <%= link_to '削除', @article, method: :delete, data: { confirm: "「#{@article.title}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
